<tr>
  <td><%= booking.id%></td>
  <td><%= booking.first_name%></td>
  <td><%= booking.start_date%></td>
  <td><%= booking.phone_number%></td>
  <td><%= booking.email%></td>
  <td>n/a</td>
  <td><%= link_to "Edit", edit_admin_booking_path(booking), class: "btn btn-primary"%></td>
  <td><%= link_to "Delete", admin_booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
</tr>
