<%= form_for @booking do |f| %>

  <% if @booking.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4>Please check the <%= pluralize(@booking.errors.count, "error") %> below</h4>
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end  %>
    </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div>
          <%= f.label :start_date, "Check-in" %>
          <div class='input-group date' id='datetimepicker-start'>
            <%= f.text_field :start_date, :class => "form-control" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <%= f.label :end_date, "Check-out" %>
        <div class='input-group date' id='datetimepicker-end'>
          <%= f.text_field :end_date, :class => "form-control" %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <label for="Number of Guests", class="form-label-alt">Number of Guests</label>
        <div>
          <%= f.select :number_of_guests, [["1", 1],["2", 2],["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15]] %>
        </div>
      </div>
    </div>
  </div>


      <div class="row">
        <div class="col-md-12 text-center">
          <div>
            <%= f.submit "Check Availability", class: "btn btn-default btn-xl" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
