<%= form_for @booking do |f| %>

  <% if @booking.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
    <h4><%= pluralize(@booking.errors.count, "error") %> to fix:</h4>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end  %>
    </ul>
    </div>
  <% end %>

  <div>
    <%= f.label("Salutation") %>
    <%= f.select :salutation, [["Mr.", 1], ["Ms.", 2]], class: "form-control" %>
  </div>

  <div>
    <%= f.label("Date of Birth") %>
    <%= f.date_select :date_of_birth, {order: [:day, :month, :year], prompt: { day: 'day', month: 'month', year: 'year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100} %>
  </div>

  <div>
    <%= f.label("Country") %>
    <%= country_select "booking", "country", selected: "NL" %>
  </div>

  <div class="form-group col-md-6">

      <div class="col-md-10">
        <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :insertion, class: "form-control" %>
      </div>
      <div class="col-md-12">
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
      </div>
      <div class="col-md-12">
        <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
      </div>
      <div class="col-md-12">
        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="col-md-12">
        <%= f.text_field :email_confirmation, class: "form-control", placeholder: "Email Confirmation" %>
      </div>

  </div>

  <div class="form-group col-md-6">

      <div class="col-md-10">
        <%= f.text_field :street, class: "form-control", placeholder: "Address" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :house_number, class: "form-control", placeholder: "Nr." %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :zip_code, class: "form-control", placeholder: "Zip-code" %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :city, class: "form-control", placeholder: "City" %>
      </div>

  </div>


<div class="center">
  <%= f.submit "Book now", class: "btn btn-default" %>
</div>




<% end %>
