<% if items.length == 0 %>
No items were found.
<% else %>
<table class="table table-inverse">
  <thead class="thead thead-inverse">
    <tr>
      <th>Actions</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |guestbook| %>
      <tr id="guestbook_<%= guestbook.id %>">
        <td class="actions">
          <% if guestbook.published %>
          <%= link_to "Unpublish", admin_guestbook_path(guestbook), method: :patch, class: 'btn btn-sm btn-primary align'%>
          <% else %>
          <%= link_to "Publish", admin_guestbook_path(guestbook), method: :patch, class: 'btn btn-sm btn-primary align'%>
          <% end %>
          <%= link_to "Delete", admin_guestbook_path(guestbook), method: :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-sm btn-danger align'%>
        </td>
        <td class="details">
          <strong><%= guestbook.name %> (<%= guestbook.email %>:) </strong> <em><%= guestbook.created_at.strftime("%A %d %B %y at %H:%M") %></em><br>
          <%= guestbook.message %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><strong>Total:</strong> <%=pluralize(items.length, 'guestbook message')%></item></p>
<% end %>
